/* formatting, padding and color elements */
h2 {
  color: white;
  padding-bottom: 20px;
}
.outputField {
  font-size: larger;
  color: #970505;
  text-shadow: 0px 1px #4d4c4c;
}
.label {
  font-size: larger;
  color: goldenrod;
}
.outPut {
  font-size: larger;
  color: violet;
  padding-bottom: -20;
}
.sent {
  color: white;
  font-size: larger;
  padding-bottom: -10;
}
